* {
  margin: 0;
  color: #333
}
.nav-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2
}
.nav-bar h1 {
  color: #f1356D
}
.nav-bar .link {
  margin-left: auto
}
.nav-bar a {
  text-decoration: none;
  padding: 6px;
  margin-left: 6px
}
.nav-bar a:hover {
  color: #f1356D
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.Home-page {

}

.blog-preview {
 margin: 20px 0;
 padding: 10px 16px;
 border-bottom: 1px solid #fafafa
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px
}
.blog-preview:hover {
  
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}
.blog-preview a {
  text-decoration: none;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block
}
.create button {
  background: #f1356d;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer
}